<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Add Authors</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dar bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/reservations_browse">Reservations</a>
                <a class="nav-item nav-link" href="/members_browse">Members</a>
                <a class="nav-item nav-link" href="/authors_browse">Authors</a>
                <a class="nav-item nav-link" href="/books_browse">Books</a>
            </div>
        </div>
</nav>

<div class="border border-dark rounded-0-lg row-lg-auto text-center" style="width: 20%; margin-left:40%; margin-top: 20px;">
    <div class="text_center col-lg-auto">
        <form action="" method="post" class="book_form"><!-- placeholder until backend is coded-->
        <fieldset>
        <legend>Author Information</legend>
            <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name" required>
            <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name" required>
 <!--       </div>
        <div class="author_div">-->
            <input type="submit" value="Submit" style="margin-bottom: 5px;">
        </fieldset>
    </form>
    </div>
</div>

<input type="button" name="author_list" value="Return to Author List" onclick="window.location = 'authors_browse'" style="margin-top: 10px; width: 20%; margin-left: 40%;">

<!--

records details of authors of books available at the library
authorID: int, not NULL, auto_increment, unique, PK
authorFirst: varchar, not NULL
authorLast: varchar, not NULL
Relationships:
1:M relationship between Authors and Books, implemented with authorID as a foreign key inside of a relationship table
An author can write 1 or many books
 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
