<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Browse Book Inventory</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dar bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/reservations_browse">Reservations</a>
                <a class="nav-item nav-link" href="/members_browse">Members</a>
                <a class="nav-item nav-link" href="/authors">Authors</a>
                <a class="nav-item nav-link" href="/books">Books</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h3 class="text-center" style="margin-top: 5px;">Browse Book Inventory</h3>
        <div class="row">
            <div class="col-4">
                <input type="button" name="add_author" value="Add Book" onclick="window.location = 'books_add'" style="width: 60%; height: 35px; margin-left: 10px; margin-bottom: 10px;">
            </div>
            <div class="col-4">
                <input class="form-control" type="text" placeholder="Search..." aria-label="Search" style="margin-bottom: 10px;">
            </div>

<!--
            <div class="dropdown col-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 55%;">
                Sort/Filter By...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               		<option value="{{url_for('browse_members', filter='id_ascending')}}">Member ID - Ascending</option>
                	<option value="{{url_for('browse_members', filter='id_descending')}}">Member ID - Descending</option>

		        <a class="dropdown-item" href="#">Member ID - Ascending</a>
                	<a class="dropdown-item" href="#">Member ID - Descending</a>
                	<a class="dropdown-item" href="#">First Name - (A-Z)</a>
                	<a class="dropdown-item" href="#">First Name - (Z-A)</a>
                	<a class="dropdown-item" href="#">Last Name - (A-Z)</a>
                	<a class="dropdown-item" href="#">Last Name - (Z-A)</a>
                </div>
            </div>
-->
	<form class="col-4" name="filter_members" method="post" action="{{ url_for('browse_members') }}">
        	<select name="type">
			<option value="a_id_asc">Title - Ascending</option>
			<option value="a_id_desc">Title - Descending</option>
		</select>
		<button type="submit" style="width: 20%; margin-left: 10px;">Filter</button>
	</form>
<div class="container border">
    <div class="container text-center" style="padding-top: 10px">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Biography">
          <label class="form-check-label" for="Biography">
            Biography
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Classics">
          <label class="form-check-label" for="Classics">
            Classics
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Comics-Graphic Novel">
          <label class="form-check-label" for="Comics-Graphic Novel">
            Comics/Graphic Novel
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Contemporary">
          <label class="form-check-label" for="Contemporary">
            Contemporary
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Essay">
          <label class="form-check-label" for="Essay">
            Essay
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Fable-Folk-Fairy-Tale">
          <label class="form-check-label" for="Fable-Folk-Fairy-Tale">
            Fable/Folk/Fairy Tale
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Fantasy">
          <label class="form-check-label" for="Fantasy">
            Fantasy
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Historical-Fiction">
          <label class="form-check-label" for="Historical-Fiction">
            Historical Fiction
          </label>
        </div>
    </div>
    <div class="container text-center" style="padding-top: 10px">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Horror">
          <label class="form-check-label" for="Horror">
            Horror
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Humor">
          <label class="form-check-label" for="Humor">
            Humor
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Journalism">
          <label class="form-check-label" for="Journalism">
            Journalism
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Legends-Mythology">
          <label class="form-check-label" for="Legends-Mythology">
            Legends/Mythology
          </label>
        </div>  <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Mystery">
          <label class="form-check-label" for="Mystery">
            Mystery
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Reference">
          <label class="form-check-label" for="Reference">
            Reference
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Romance">
          <label class="form-check-label" for="Romance">
            Romance
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Science-Fiction">
          <label class="form-check-label" for="Science-Fiction">
            Science Fiction
          </label>
        </div>
    </div>
    <div class="container text-center" style="padding-top: 10px">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Self-Help">
          <label class="form-check-label" for="Self-Help">
            Self-Help
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Short-Story">
          <label class="form-check-label" for="Short-Story">
            Short Story
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Suspense-Thriller">
          <label class="form-check-label" for="Suspense-Thriller">
            Suspense/Thriller
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="Textbook">
          <label class="form-check-label" for="Textbook">
            Textbook
          </label>
        </div>
    </div>
</div>
        </div>
        <table border="1" style="width: 100%;">
            <thead class="text-center">
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Fiction</th>
                <!--<th>Available</th>
                <th>Total Copies</th>-->
                <th></th>
            </thead>
            <tbody>
		{% for r in rows %}
                <tr>
                    <td> {{r.0}} </td>
                    <td> {{r[1]}} </td>
                    <td> {{r[2]}} </td>
                    <td> {{r[3]}} </td>
                    <td> {{r[4]}} </td>
                    <!--<td> {{r[5]}} </td>
                    <td> {{r[6]}} </td>-->
                    <td>
                        <input type="button" name="update_author" value="Update" onclick="window.location = '/books_browse'">
                        <input type="button" name="delete_author" value="Delete" method="GET" onclick="window.location = '/books_browse/{{r.0}}'">
                    </td>
                </tr>
		{% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
