<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Browse Book Inventory</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dar bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/reservations_browse">Reservations</a>
                <a class="nav-item nav-link" href="/members_browse">Members</a>
                <a class="nav-item nav-link" href="/authors_browse">Authors</a>
                <a class="nav-item nav-link" href="/books_browse">Books</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h3 class="text-center" style="margin-top: 5px;">Browse Book Inventory</h3>
        <div class="row">
            <div class="col-4">
                <input type="button" name="add_author" value="Add Book" onclick="window.location = 'books_add'" style="width: 60%; height: 35px; margin-left: 10px; margin-bottom: 10px;">
            </div>
            <form class="col-4" name="search" method="get" action="{{ url_for('browse_books') }}">
                <input class="active" type="text" name="search_content" method = "post" placeholder="Search..." aria-label="Search" style="margin-bottom: 10px;">
				<input type="submit" value = "Search">
            </form>

	<form class="col-4" name="filter_books" method="post" action="{{ url_for('browse_books') }}">
        	<select name="type">
			<option value="title_asc">Title - Ascending</option>
			<option value="title_dec">Title - Descending</option>
            <option value="biography">Biography</option>
			<option value="classics">Classics</option>
            <option value="comics">Comics/Graphic Novel</option>
			<option value="contemporary">Contemporary</option>
            <option value="essay">Essay</option>
			<option value="fffTale">Fable/Folk/Fairy Tale</option>
            <option value="fantasy">Fantasy</option>
			<option value="histFic">Historical Fiction</option>
            <option value="horror">Horror</option>
			<option value="humor">Humor</option>
            <option value="journalism">Journalism</option>
			<option value="legendMyth">Legends/Mythology</option>
			<option value="mystery">Mystery</option>
            <option value="reference">Reference</option>
			<option value="romance">Romance</option>
            <option value="sciFi">Science Fiction</option>
			<option value="selfHelp">Self-Help</option>
            <option value="shortStory">Short Story</option>
			<option value="suspenseThriller">Suspense/Thriller</option>
            <option value="textbook">Textbook</option>
			<option value="poems">Poems</option>
		</select>
		<button type="submit" style="width: 20%; margin-left: 10px;">Filter</button>
	</form>
    </div>
        <table border="1" style="width: 100%;">
            <thead class="text-center">
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Fiction</th>
                <th></th>
            </thead>
            <tbody>
		{% for r in rows %}
                <tr>
                    <td> {{r.0}} </td>
                    <td> {{r[1]}} </td>
                    <td> {{r[2]}} </td>
                    <td> {{r[3]}} </td>
                    <td> {{r[4]}} </td>
                    <td>
                        <input type="button" name="update_book" value="Update" onclick="window.location = '/books_update/{{ r.0 }}'">
                        <input type="button" name="delete_book" value="Delete" onclick="window.location = '/books_browse/{{r.0}}'">
                    </td>
                </tr>
		{% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
