<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Browse Reservations</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dar bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/reservations_browse">Reservations</a>
                <a class="nav-item nav-link" href="/members_browse">Members</a>
                <a class="nav-item nav-link" href="/authors_browse">Authors</a>
                <a class="nav-item nav-link" href="/books_browse">Books</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h3 class="text-center" style="margin-top: 5px;">Browse Reservations</h3>  
        <div class="row">
            <div class="col-4">
                <input type="button" name="go_add_reservation" value="Add Reservation" onclick="window.location = '/reservations_add'" style="width: 60%; height: 35px; margin-left: 10px; margin-bottom: 10px;"> 
            </div>
            <div class="col-4">
                <input class="form-control" type="text" placeholder="Search..." aria-label="Search" style="margin-bottom: 10px;">
            </div>  
<!--
            <div class="dropdown col-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 55%;">
                Sort/Filter By...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Date Issued - Ascending</a>
                <a class="dropdown-item" href="#">Date Issued - Descending</a>
                <a class="dropdown-item" href="#">Date Due - Ascending</a>
                <a class="dropdown-item" href="#">Date Due - Descending</a>
                <a class="dropdown-item" href="#">Returned</a>
                <a class="dropdown-item" href="#">Not Returned</a>
                </div>
            </div>

-->

	<form class="col-4" name="filter_reservations" method="post" action="{{ url_for('browse_reservations') }}"> 
        	<select name="type">
			<option value="first_asc">First Name (A-Z)</option>
			<option value="first_desc">First Name (Z-A)</option>
			<option value="last_asc">Last Name (A-Z)</option>
			<option value="last_desc">Last Name (Z-A)</option>
			<option value="issued_asc">Date Issued - Ascending</option>
			<option value="issued_desc">Date Issued - Descending</option>
			<option value="due_asc">Date Due - Ascending</option>
			<option value="due_desc">Date Due - Descending</option>
			<option value="returned">Not Returned - Returned</option>
			<option value="not_returned">Returned - Not Returned</option>
		</select>
		<button type="submit" style="width: 20%; margin-left: 10px;">Sort</button>
	</form>
        </div>  

        <table border="1" style="width: 100%;">
            <thead class="text-center">
                <th>Reservation ID</th>
                <th>Member ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Book Title</th>
                <th>Book ID</th>
                <th>Date Issued</th>
                <th>Date Due</th>
                <th>Returned?</th>
            </thead>
            <tbody>
		{% for r in rows %}
		<tr>
                    <td> {{r.0}} </td>
                    <td> {{r[1]}} </td>
                    <td> {{r[2]}} </td>
                    <td> {{r[3]}} </td>
                    <td> {{r[4]}} </td>
                    <td> {{r[5]}} </td>
                    <td> {{r[6]}} </td>
                    <td> {{r[7]}} </td>
                    <td> {{r[8]}} </td>
                    <td style="width: auto;"></td>
                    <td>
                        <input type="button" name="update_reservation" value="Update" onclick="window.location = 'reservations_add'"> 
                        <input type="button" name="delete_reservation" value="Delete" onclick="window.location = 'reservations_browse/{{r.0}}'">
                    </td>
                </tr>
		{% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
